.body {
    z-index: -1;
    margin-top: 80px;
    margin-bottom: 55px;
    width: 100%;
    height: 100%;
    position: fixed;
    background: whitesmoke;
}
#right {
    top: 40%;
    right: 15%;
    position: absolute;
    font-size: 150px;
    color: #C1272D;
    float: right;
    opacity: 0.5;
    transition: opacity 1s;
}
#right:hover{
    opacity: 1;
}
#left {
    z-index: 1;
    top: 40%;
    left: 15%;
    position: absolute;
    float: left;
    font-size: 150px;
    color: #C1272D;
    opacity: 0.5;
    transition: opacity 1s;
}
#left:hover{
    opacity: 1;
}
#slideShow {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fade3 {
    -webkit-animation-name: fade3;
    -webkit-animation-duration: 4s;
    animation-name: fade3;
    animation-duration: 4s;
}

@-webkit-keyframes fade3 {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@keyframes fade3 {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
.fade1 {
    -webkit-animation-name: fade1;
    -webkit-animation-duration: 4s;
    animation-name: fade1;
    animation-duration: 4s;
}

@-webkit-keyframes fade1 {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@keyframes fade1 {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
.fade2 {
    -webkit-animation-name: fade2;
    -webkit-animation-duration: 4s;
    animation-name: fade2;
    animation-duration: 4s;
}

@-webkit-keyframes fade2 {
    from {opacity: .1}
    to {opacity: 1}
}

@keyframes fade2 {
    from {opacity: .1}
    to {opacity: 1}
}
#image {
    all: inherit;
}

