.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #982d57;
    text-align: center;
    border-top: 5px solid #982d57;
}
.App-header {
    height: 80px;
    width: 100%;
    position: fixed;
    border-bottom: 5px solid #982d57 ;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}
#logo {
    height: inherit;
    max-width: 100px;
}
#about #contacts #projects {
    float: right;
    display: inline;
}
#about {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 35px;
    font-size: 2em;
}
#about:hover{
    color: #982d57;
}
#contacts {
    float: right;
    margin-right: 35px;
    margin-top: 20px;
    font-size: 2em;
}
#contacts:hover{
    color: #982d57;
}
#projects {
    float: right;
    margin-top: 20px;
    margin-right: 35px;
    font-size: 2em;
}
#projects:hover{
    color: #982d57;
}